In [62]:
#import necessary libraries
import numpy as np
import pandas as pd

In [63]:
#reading the data
data = pd.read_csv('ex1data2.txt',sep=',',header=None)
X = data.iloc[:,0:2]
y = data.iloc[:,2]
m = len(y)
data.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [64]:
#feature normalization
X = (X - np.mean(X))/np.std(X)

In [65]:
#adding another dimension to data and initalizing theta and alpha
y = y[:,np.newaxis]
ones = np.ones([m,1])
X = np.hstack((ones,X))
alpha = 0.05
iterations = 400
theta = np.zeros([3,1])

In [66]:
#computing the cost
def computeCost(X,y,theta):
    h_temp = np.dot(X,theta) 
    h_sub = h_temp - y
    h_squared = np.power(h_sub,2)
    h_sum = np.sum(h_squared)
    return h_sum/(2*m)
J = computeCost(X,y,theta)
print(J)

65591548106.45744

In [67]:
#minimizing the cost using gradient descent
def gradientDescent(X,y,theta,alpha,iterations):
    for _ in range(iterations):
        temp = np.dot(X,theta) - y
        temp = np.dot(X.T,temp)
        #print(temp)
        theta = theta - (alpha/m)*temp
    return theta
theta = gradientDescent(X,y,theta,alpha,iterations)
print(theta)

[[340412.65915621]
 [109439.87553302]
 [ -6570.43391754]]