In [6]:
#import necessary libraries
import numpy as np
import pandas as pd

In [7]:
#reading the data
data = pd.read_csv('ex1data2.txt',sep=',',header=None)
X = data.iloc[:,0:2]
y = data.iloc[:,2]
m = len(y)
data.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [9]:
#feature normalization
X = (X - np.mean(X))/np.std(X)